@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(Assets/images/bg.jpg);
    background-position: center;
    background-size: max(1500px, 100vw);
    background-repeat: no-repeat;
    width: 100vw;
    height: 60vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 112px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 112px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 15px;
    padding: 0 30px;
    text-align: center;

}

.hero> :nth-child(1) {
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(71, 71, 71);
}

.btn {
    padding: 3px 8px;
    border: 1px solid rgb(39, 30, 30);
    cursor: pointer;
}

.btn-english {
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 4px;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
    color: white;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.main input {
    padding: 9PX 125px 10px 9PX;
    font-size: 12px;
    border-radius: 4px;
    background-color: transparent;
    font-weight: 600;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: right;
    max-width: 70vw;
    margin: auto;
   color:white;
    }

    .text1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0px;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    padding: 34px 0;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
    
}

section.first>div :nth-child(2) {
    font-size: 24px;
    font-weight: bolder;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.box0:hover{
    background-color:#414141;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    cursor: pointer;
    font-size: 24px;
}
.box0{
    display: flex;
    background-color: #2b2929;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    justify-content: space-between;
}
.faq svg{
    filter: invert(1);
}
footer{
    margin: auto;
    max-width: 60vw;
    color: white;
    padding: 14px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer-item a{
    font-size: 14px;
    color: white;
}
.questions{
    padding: 34px 0;
}

@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }
    .secImg img {
        width: 301px;
        
    }
    
    .secImg video {
        
        width: 301px;
    }

    .hero> :nth-child(1) {
    
    font-size: 22px;
   
}
    .hero> :nth-child(2) {
    
    font-size: 18px;
   
}
    .hero> :nth-child(3) {
    
    font-size: 18px;
   
}
nav {
    max-width: 90vw;
}
    .main .box {
    height: 60vh;
        .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        color: white;
        gap: 55px;
    }
}
.main input{
    padding: 9px 20px;
}
.btn-red{
    font-size: 14px;
    padding: 3px 9px;
}
}
